* {}

body {
    background-image: url(img/fundo.jpg);
}

#fundo-rosa {
    width: 250px;
    height: 200px;
}

#foto-perfil {
    width: 200px;
    border-radius: 10%;
}

footer {
    height: 20px;
    background-color: blueviolet;
    align-content: flex-end;
}